.disntacias {
  position: absolute;
  right: 0;
  margin-right: 7em;
}
.dropdown {
  margin-right: 5em;
}

.dropdownMenu {
  margin-right: 20em;
}

.titulo {
  margin-top: 0.8em;
  margin-left: 5em;
  font-family: "Great Vibes", cursive;
  font-size: 2em;
  color: rgb(177, 0, 0);
  text-decoration: none;
  animation: moverDesdeDerecha 2s forwards;
}

.text {
  margin-top: 1.6em;
  color: white;
}

.background {
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 50%, rgba(0,0,0,1) 100%);  
margin-top: -1.4em;
margin-bottom: -1.4em;
}
.backgroundCel {
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 50%, rgba(0,0,0,1) 100%);  
margin-top: -1.4em;
margin-bottom: -1.4em;
position: fixed;
z-index: 200;
width: 100%;
}

.logo {
  height: 2em;
  width: 2em;
  margin-right: 4em;
  animation: moverDesdeArriba 2s forwards;
}

@media (max-width: 767px) {
  .titulo {
    padding-bottom: 0.5em;
    position: relative;
    height: 0.9em;
    margin-top: -0.04em;
    margin-left: -2em;
  }
  .background {
  background-color: black;
  margin-top: 0.0em;
  margin-bottom: auto;
}
  .logo {
    margin-top: -1em;
  }
  .disntacias{
    position: relative;
    padding-left: 6.5em;
  }
  .text{
    margin-top: -0.5em;
  }
}

.logo:hover {
  cursor: pointer;
}


.text:hover{
  cursor: pointer;
}
.textCaja{
  margin-left: 1em;
  width: 100%;
}

.customDropdownItem:hover {
  /* Set the desired text color for the dropdown items on hover */
  background-color: rgb(177, 0, 0); /* Your desired hover color here */;
}
.servicios{
  color:white;
}

@keyframes moverDesdeDerecha {
  from {
    margin-right: -30em; /* Posición inicial fuera de la pantalla hacia la derecha */
  }
  to {
    margin-right: 0; /* Posición final */
  }
}

@keyframes moverDesdeArriba {
  from {
    margin-top: -8em; /* Posición inicial fuera de la pantalla hacia la derecha */
  }
  to {
    margin-top: 0; /* Posición final */
  }
}