.container {
  position: relative;
  padding: 2em;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(31, 31, 31) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 3;
  box-shadow: 2px 4px 10px 6px rgb(0, 0, 0);
}

.h1 {
  color: rgb(177, 0, 0);
  font-family: "Great Vibes", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.7em;
}
.nav{
 flex-wrap: wrap;
 justify-content: center;
 margin-bottom: 1.2em;
}

.p {
  /* color: rgb(102, 52, 52); */
  color: rgb(175, 174, 174);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.h2 {
  font-size: 4em;
  font-family: "Great Vibes", cursive;
  color: rgb(172, 172, 172);
}

.botones {
  margin-top: 1em;
  margin-bottom: -2em;
  font-family: "Montserrat", sans-serif;
}
.botonesFuera {
  margin-top: -1.4em;
  margin-bottom: -2em;
  font-family: "Montserrat", sans-serif;
}


@media (max-width: 767px) {
  .separadores {
    width: 100%;
    padding: 0;
    min-height: 1px;
  }
  .botones {
    margin-bottom: 0;
  }
}
