.whatsapp {
    position:fixed;
    width:55px;
    height:55px;
    bottom:30px;
    right:30px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    z-index:100;
  }
  
  .whatsappicon {
    margin-top:10px;
  }