
/* ! VER SI LOS SHADOWS GUSTAN O NO */
.container{
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(31, 31, 31) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
.containerServicios{
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(31, 31, 31) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  position: relative;
}
.containerServiciosCel{
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(31, 31, 31) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.titulosCursiva {
  color: rgb(177, 0, 0);
  font-family: "Great Vibes", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulosCursivaBlanco {
  font-size: 4em;
  font-family: "Great Vibes", cursive;
  color: rgb(199, 195, 195);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.subTitulosCursivaBlanco {
  font-size: 4em;
  font-family: "Great Vibes", cursive;
  color: rgb(199, 195, 195);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.subTitulosCursiva {
  font-family: "Great Vibes", cursive;
  font-size: 3em;
  color: rgb(177, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subTitulos {
  color: rgb(102, 52, 52);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.subTitulo {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Great Vibes", cursive; */
  font-size: 2.3em;
  color: blanchedalmond;/*rgb(177, 0, 0);*/
  margin-top: 0.3em;
  margin-bottom: 1.2em;
  text-shadow: 8px 2px 7px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(49, 48, 48) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 2px 4px 8px 1px rgb(0, 0, 0);
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.subTituloServicio {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Great Vibes", cursive; */
  font-size: 2.3em;
  color: blanchedalmond;/*rgb(177, 0, 0);*/
  margin-top: 0.3em;
  margin-bottom: 1.2em;
  text-shadow: 8px 2px 7px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(49, 48, 48) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 2px 4px 8px 1px rgb(0, 0, 0);
  width: 80%;
  margin-left: 10%;
  margin-right: 25%;
}
.subTituloServicioCel {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Great Vibes", cursive; */
  font-size: 2.3em;
  color: blanchedalmond;/*rgb(177, 0, 0);*/
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  text-shadow: 8px 2px 7px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(49, 48, 48) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 2px 4px 8px 1px rgb(0, 0, 0);
  width: 80%;
  margin-left: 10%;
  margin-right: 25%;
  margin-top:1em;
}

.subTitulosBlanco {
  color: rgb(226, 222, 222);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.parrafos {
  color: rgb(199, 195, 195);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.textoSolo{
  font-family: "Montserrat", sans-serif;
  color: rgb(199, 195, 195);
}

a{text-decoration: none;}

.reels{
  margin-top: -2em;
  margin-left:8em;
}
.reelsCel{
  margin-top: 0em;
  margin-left:-3em;
}
.youTube{
  width:520px;
  height:315px;
}
.youTubeCel{
  margin-left: -2em;
   width:360px;
  height:315px;
}

.checks{
  margin-left: -2em;
  margin-right: -3em;
}