.titulo {
  color: rgb(199, 195, 195);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
    /* animation: moverDesdeDerecha 3s forwards; */
}
.subTitulo {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Great Vibes", cursive; */
  font-size: 2.3em;
  color: rgb(177, 0, 0);
  margin-top: 0.3em;
  margin-bottom: 1.2em;
  text-shadow: 8px 2px 7px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(49, 48, 48) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 2px 4px 8px 1px rgb(0, 0, 0);
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.subTituloChica {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Great Vibes", cursive; */
  font-size: 1.5em;
  color: rgb(177, 0, 0);
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  text-shadow: 8px 2px 7px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(49, 48, 48) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 2px 4px 8px 1px rgb(0, 0, 0);
  width: 100%;
  /*   margin-left: 25%;
  margin-right: 25%; */
  animation: moverDesdeIzquierda 2s forwards;
}

.buenGusto {
  font-family: "Great Vibes", cursive;
  color: rgb(177, 0, 0);
  font-size: 1.5em;
}

.texto {
  font-family: "Montserrat", sans-serif;
  font-size: 1.08em;
  color: rgb(179, 177, 177);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
  height: 0.9em;
  width: 0.9em;
  margin-bottom: 0.3em;
}

.acordion {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(49, 48, 48) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 2px 4px 10px 4px rgb(0, 0, 0);
}
.textoAcordion {
  font-family: "Montserrat", sans-serif;
  font-size: 1.08em;
  color: rgb(179, 177, 177);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(49, 48, 48) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 2px 4px 8px 1px rgb(0, 0, 0);
}
.container {
  padding: 2em;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(36, 36, 36, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  /*height: 40em;*/
}
.reel{
  width:370px;
 height:600px;
 margin-left:-1em;
}




.moverDesdeDerecha {
  animation: moverDesdeDerecha 2s forwards;
}

@media (max-width: 767px) {
  .logo {
    height: 4em;
    width: 4em;
    margin-bottom: 2em;
  }
  .subTitulo {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@keyframes moverDesdeIzquierda {
  from {
    margin-left: -10em; /* Posición inicial fuera de la pantalla hacia la izquierda */
  }
  to {
    margin-left: 0; /* Posición final */
  }
}
@keyframes moverDesdeDerecha {
  from {
    margin-left: 30em;
     /* Posición inicial fuera de la pantalla hacia la derecha */
  }
  to {
    left: 0;
    /* Posición final */
  }
}
@keyframes giro {
  from {
    transform: rotate(360deg); /* Posición inicial fuera de la pantalla hacia la derecha */
  }
  to {
    transform: rotate(0);; /* Posición final */
  }
  /* animation: giro 3s forwards; */
}
@keyframes zoom {
  from {
    transform: scale(4); /* Posición inicial fuera de la pantalla hacia la derecha */
  }
  to {
    transform: scale(1);; /* Posición final */
  }
  /* animation: zoom 3s forwards; */
}

