.tamanioCarrusel {
  width: 100%;
  margin: auto;
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 50%, rgba(0,0,0,1) 100%);  
}

.img{
  border-bottom-left-radius:50% 100px;
  border-bottom-right-radius: 50% 100px;
z-index: 2;
}
